*{
    font-size: 14px;
}

#body{
    background-color: pink;
}

.full-table{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.firsttablerow{
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
}

.gender-div{
    display: flex;
}

.choice-div{
    display: flex;
}

.sectable{
    border: 1px solid black;
    border-collapse: collapse;
    
}

.thead{
    border: 1px solid black;
}

.tbody{
    border: 1px solid black;
}

td,th{
    border: 1px solid black;
}
.secondtablerow{
    background-color: cadetblue;
}

.tbody tr:nth-child(even):hover{
    background-color: rgb(7, 47, 226);
    color: white;
}

.tbody tr:nth-child(odd):hover{
    background-color: rgb(204, 21, 221);
    color: white;
}